:root {
    --clr-pink: hsl(322, 100%, 66%);
    --clr-light-pink: hsl(321, 100%, 78%);
    --clr-light-red: hsl(0, 100%, 63%);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-pale-blue: hsl(207, 100%, 98%);
    --clr-white: hsl(0, 0%, 100%);

    --fs-100: 0.6875rem;
    --fs-200: 0.8125rem;
    --fs-300: 0.875rem;
    --fs-400: 0.9375rem;
    --fs-500: 1rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem;

    --fw-400 : 400;
    --fw-600 : 600;
    --fw-700 : 700;

    --ff-primary : 'Poppins', sans-serif;
}